body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}
.container {
  margin: 5px;
  height: 100vh;
}

.row {
  display: flex;
  gap: 5px;
}

.col {
  flex: 50%;
  border: 2px solid #9c4a1a;
  border-radius: 10px;
  background: #ec9704;
}

button {
  width: 150px;
  height: 50px;
  color: #9c4a1a;
  background: #f7c815;
  border-radius: 5px;
  border: transparent;
  margin: 5px;
  font-weight: bold;
  border: 1px solid #9c4a1a;
}
